doctype html
html(lang='en')
  head
    title Cocos Shader Editor
    link(rel='stylesheet' type='text/css' href='/css/components.css')
    link(rel='stylesheet' type='text/css' href='/css/main.css')
    script(type='text/javascript' src='/js/components.js')
    script(type='text/javascript' src='/js/editors.js')
    script(type='text/javascript' src='/js/webgl.js')
    script(type='text/javascript' src='/js/main.js')
  body
    .pure-g
      .pure-u-1-2
        #editor-view
          #vertex-area
            h5 Vertex Shader
            #vertex-editor
          #fragment-area
            h5 Fragment Shader
            #fragment-editor
      .pure-u-1-2
        #gl-view
          h5 Preview
          #preview
            canvas#gl(width='512' height='512')
        #panel-view
          .pure-menu.pure-menu-open.pure-menu-horizontal
            ul
              li#menu-uniforms
                a(href='#' onclick='selectPanel("uniforms")') Uniforms
              li#menu-attributes
                a(href='#' onclick='selectPanel("attributes")') Attributes
              li#menu-logs
                a(href='#' onclick='selectPanel("logs")') Logs
          #panel-content
            #logs
            #uniforms
              form.pure-form.pure-form-aligned
                .form-control#control-resolution
                  .pure-u-1-4
                    label resolution
                  .pure-u-3-4
                    input.pure-input-1-4#uniform-resolution-x(type='text' value='512')
                    input.pure-input-1-4#uniform-resolution-y(type='text' value='512')
                    input.pure-input-1-4#uniform-resolution-y(type='text' value='512')
                    input.pure-input-1-4#uniform-resolution-y(type='text' value='512')
                .form-control#control-center
                  .pure-u-1-4
                    label center
                  .pure-u-3-4
                    input.pure-input-1-4#uniform-center-x(type='text' value='256')
                    input.pure-input-1-4#uniform-center-y(type='text' value='256')
            #attributes
              form.pure-form.pure-form-aligned
                .form-control#control-a_color
                  .pure-u-1-4
                    label a_color
                  .pure-u-3-4
                    input.pure-input-1-4#uniform-a_color-x(type='text' value='1.0')
                    input.pure-input-1-4#uniform-a_color-x(type='text' value='0.0')
                    input.pure-input-1-4#uniform-a_color-x(type='text' value='0.0')
                    input.pure-input-1-4#uniform-a_color-x(type='text' value='1.0')
                    input.pure-input-1-4#uniform-a_color-x(type='text' value='0.0')
                    input.pure-input-1-4#uniform-a_color-x(type='text' value='1.0')
                    input.pure-input-1-4#uniform-a_color-x(type='text' value='0.0')
                    input.pure-input-1-4#uniform-a_color-x(type='text' value='1.0')
                    input.pure-input-1-4#uniform-a_color-x(type='text' value='0.0')
                    input.pure-input-1-4#uniform-a_color-x(type='text' value='0.0')
                    input.pure-input-1-4#uniform-a_color-x(type='text' value='1.0')
                    input.pure-input-1-4#uniform-a_color-x(type='text' value='1.0')
                    input.pure-input-1-4#uniform-a_color-x(type='text' value='1.0')
                    input.pure-input-1-4#uniform-a_color-x(type='text' value='1.0')
                    input.pure-input-1-4#uniform-a_color-x(type='text' value='1.0')
                    input.pure-input-1-4#uniform-a_color-x(type='text' value='1.0')
